<!doctype html>
<html lang="en">
<head>
  <title>Investigator Stats</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
   <div class="main-container">
   <!-- Existing content -->
   <h1>Quick Reference</h1>
   <table class="table table-sortable">
      <thead>
         <tr>
         <th>Investigator Name</th>
         <th>Sanity</th>
         <th>HP</th>
         <th>Luck</th>
         <th>Move</th>
         <th>DEX</th>
         <th>STR</th>
         <th>CON</th>
         <th>POW</th>
         <th>INT</th>
         <th>SIZ</th>
         <th>APP</th>
         <th>EDU</th>
         </tr>
      </thead>
      <tbody id="data-output">
         <!-- Data will populate here via JavaScript -->
      </tbody>
   </table>
   <div class="char_tooltip" id="char_tooltip">
         
   </div> 
   <button class="button" onclick="addRow()">Add Row</button>

   <form action="/" method="GET">
      <input type="submit" value="Upload More PDFs" />
   </form>

   </div>
 <script type='text/javascript' src="{{ url_for('static', filename='scripts/combined.js') }}"></script>
</body>
</html>