<!doctype html>
<html lang="en">
<head>
  <title>Investigator Stats</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
   <div class="main-container">
   <!-- Existing content -->
   <h1>Quick Reference</h1>
   <table class="table table-sortable">
      <thead>
         <tr>
         <th>Investigator Name</th>
         <th>Sanity</th>
         <th>HP</th>
         <th>Luck</th>
         <th>Move</th>
         <th>DEX</th>
         <th>STR</th>
         <th>CON</th>
         <th>POW</th>
         <th>INT</th>
         <th>SIZ</th>
         <th>APP</th>
         <th>EDU</th>
         </tr>
      </thead>
      <tbody id="data-output">
         <!-- Data will populate here via JavaScript -->
      </tbody>
   </table>
   <div class="char_tooltip" id="char_tooltip">
         
   </div> 
   <button class="button" onclick="addRow()">Add Row</button>

   <form action="/" method="GET">
      <input type="submit" value="Upload More PDFs" />
   </form>


   <!-- <embed src="uploads\Cole_Miner.pdf" width="800px" height="1500px" /> -->
   <!-- <iframe src="C:\Users\nathi\OneDrive\Desktop\Pdf Parser Python\uploads\Cole_Miner.pdf" style="width: 100%;height: 100%;border: none;"></iframe> -->
   <!-- <br>
   <h1>Investigator Skills WIP</h1>
   <div class="tooltip-section">
      <div class="tooltip-box" data-tooltip="Tooltip 1">Accounting 05%</div>
      <div class="tooltip-box" data-tooltip="Tooltip 2">Firearms(Handgun) 20%</div>
      <div class="tooltip-box" data-tooltip="Tooltip 3">Persuade 10%</div>
      <div class="tooltip-box" data-tooltip="Tooltip 4">Appraise 05%</div>
      <div class="tooltip-box" data-tooltip="Tooltip 5">Firearms(Rifle/Shotgun) 25%</div>
      <div class="tooltip-box" data-tooltip="Tooltip 6">Pilot(Default) 01%</div>
      <div class="tooltip-box" data-tooltip="Tooltip 6">Archaeology 01%</div>
   </div>
   

      <div class="tooltip" id="tooltip">
         
      </div> -->
   </div>
 <script type='text/javascript' src="{{ url_for('static', filename='scripts/combined.js') }}"></script>
</body>
</html>
