<body>
    <table>
       <thead>
          <tr>
             <th>Investigator Name</th>
             <th>Current Sanity</th>
             <th>Current HP</th>
             <th>Movement</th>
             <th>DEX</th>
             <th>STR</th>
             <th>CON</th>
             <th>POW</th>
             <th>INT</th>
             <th>SIZ</th>
             <th>APP</th>
             <th>EDU</th>
          </tr>
       </thead>
       <tbody id="data-output">
          <!-- Prodcuts from javascript file in here. -->
       </tbody>
    </table>
  
    <script type='text/javascript' src="{{ url_for('static', filename='scripts/combined.js') }}"></script> <!-- Link to the javascript file -->